<div>
    <tabset #staticTabs [justified]="true">
        <tab heading="Login" (selectTab)="onSelectedTab('login')">
            <div>
                <app-login-form></app-login-form>
            </div>
        </tab>
        <tab heading="Register" (selectTab)="onSelectedTab('register')">
            <div>
                <app-register-form></app-register-form>
            </div>
        </tab>
        <tab heading="Home" (selectTab)="onSelectedTab('home')">Static content 3</tab>
    </tabset>
</div>